@import '~antd/dist/antd.css';

body {
  font-size: 16px;
  @media only screen and (max-width: 800px) {
    font-size: 12px;
  }
  font-family: 'Fira Mono', monospace;

}

.App {
  padding: 0.5rem;

  .graphql-logo {
    margin-right: 2rem;
  }
}

.schema-title {
  font-size: 1.5rem;
  margin-right: 2rem;
}
.schema-description {
  font-size: 0.8rem;
}
.type {
  border: thin solid grey;
  margin-bottom: 1rem;
  background: beige;
  
  .description {
    font-size: 0.8rem;
    color: DarkSlateGray;
    font-style: italic;
    display: inline-block;
  }

  .query, .mutation {
    font-weight: 500;
    padding: 0.2rem;
    display: inline-block;
    margin-right: 1rem;
  }

  .query {
    color: sienna;
    &.tag {
      background: hotpink;
    }
  }

  .mutation {
    color: olive;
    &.tag {
      background: cornflowerblue;
    }
  }

  .enum {
    color: rebeccapurple;
    &.tag {
      background: sienna;
    }
  }

  .input {
    color: seagreen;
    &.tag {
      background: plum;
    }
  }

  .output {
    color: cadetblue;
    &.tag {
      background: peru;
    }
  }

  .object {
    &.tag {
      background: grey;
    }
  }

  .undocumented {
    color: orange;
    font-size: 5rem;
  }

  .tag, .examples-opener {
    display: inline-block;
    margin: 0 1rem 0 1rem;
    border: thin solid grey;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
  }
  .tag {
    color: white;
    transform: rotate(-5deg);
  }
  .examples-opener {
    background: lightsteelblue;
  }

  .inline {
    display: inline-block;
    margin-left: 1rem;
  }
  .heading {
    background: blanchedalmond;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;
    font-weight: 500;
    .heading-title {
      font-size: 1.3rem;
      display: inline-block;
      @media only screen and (max-width: 800px) {
        font-size: 1rem;
      }
    }  
  }
  .content {
    .label {
      margin-left: 1rem;
      color: DarkGray;
    } 
    .value, .enum-value {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    .mandatory-arg {
      font-weight: 500;
      color: orchid;
    }
  }
}

.raw {
  padding: 1rem;
  font-size: 0.6rem;
  .copy-button {
    font-size: 2rem;
    margin-bottom: 1rem;
    background: transparent;
  }
}

.examples {
  padding: 1rem;
  background: lightsteelblue;
}

